h1 {
    text-align: center;
    font-family: 'Brush Script MT', cursive;
    font-weight: bold;
    font-size: 75px;
}

ul {
    list-style: none;
    text-align: center;
    font-family: 'Verdana', sans-serif;
}

ul li a {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 20px;
}